# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

In [ ]:
1 R
2 SQl
3 Julia
4 Python
5 Scalar

Some of the commonly used libraries used by Data Scientists include:

In [ ]:
1 TensorFlow
2 NumPy
3 SciPy
4 Pandas
5 Matplotlib
6 Keras
7 SciKit-learn
8 PyTorch

# Data Science Tools

In [ ]:
1 KNIME
2 Matlab
3 Tableau
4 ApacheSpark
5 TensorFlow
6 SAS
7 Matplotlib
8 Keras

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers

In [ ]:
20*4+500

580

# convert minutes to hours

In [32]:
total_min=200
hours = total_min / 60

In [33]:
time = "{}".format(hours)

In [34]:
time

'3.3333333333333335'

# Objectives

- Objectives
   -R
   -SQl
   -Julia
   -Python
   -Scalar

# Author

In [ ]:
Ayesha Shaik